// Imports
@import 'normalize.css/normalize';
@import 'jeet/scss/jeet/index';

//  Helpers
@import 'config';
@import 'mixins';
@import 'typography';

// Accessibility
.screen-reader-text {
  clip: rect(1px 1px 1px 1px);
  position: absolute !important;
  transition: all .55s;

  &.skip-link {
    margin: 5px;
  }
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #222;
  color: #fff;
  box-shadow: none;
  clip: auto !important;
  display: block;
  font-weight: bold;
  height: auto;
  left: 0;
  line-height: normal;
  padding: 1rem .9375rem;
  text-decoration: none;
  top: 0;
  width: auto;
  z-index: 100000;
  outline: none;
}

// Primary style
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

.site {
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: #f0f0f0;
}

.main-header {
  background-image: url('../video/video.jpg');
  height: 100vh;
  min-height: 400px;
  line-height: 400px;
  text-align: center;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;

  .animated-mouse {
    @include horizontal-align();
    width: 27px;
    height: 47px;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
    border-radius: 14px;
    background: transparent;
    position: absolute;
    bottom: 7%;

    @media(max-width: $container-mobile) {
      display: none;
    }

    .animated-mouse-pointer {
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background: #fff;
      left: 49%;
      top: 70%;
      transform: translate(-50%, 0);
      animation-name: mousePointer;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-timing-function: linear;
      animation-fill-mode: backwards;
      animation-delay: .5s;
    }
  }

  // <video>-tag
  .background-video {
    position: fixed;
    overflow: hidden;
    z-index: 0;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .shade {
    opacity: .5;
    background: #303e49;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  h1 {
    @include typeset($sans, 80px, 2rem, 0, 2);
    font-weight: 900;
    color: #fff;
  }

  p {
    @include typeset($sans, 18px, 2rem, 0, 2);
    font-weight: 400;
    color: #fff;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
    font-size: 21px;

    li {
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px;
      padding: 0;

      a {
        color: #fff;

        img {
          height: 19px;
          margin-top: 3px;
          top: 3px;
          position: relative;
        }

        span {
          color: #fff;
        }

        &:hover {
          opacity: .5;

          img {
            opacity: .5;
          }
        }
      }
    }
  }

  .content {
    @include centered();
    line-height: 1.5;
    position: relative;
    z-index: 2;
    opacity: .85;

    @media(max-width: $container-mobile) {
      padding: 40px;      
    }

    @media only screen and (min-width: 1170px) {
      @include centered();
      position: absolute;
    }
  }
}

// Modules - reusable parts of our design
.container {
  // This class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.container::after {
  content: '';
  display: table;
  clear: both;
}

// Main components
.areas {
  overflow: hidden;

  .box {
    @include span(1/2, $cycle: 2);
    height: 250px;

    @media(max-width: $container-mobile) {
      @include stack();
    }

    .content {
      @include centered();
      text-align: center;

      a {
        color: #fff;
        opacity: .8;
        border: 3px solid #fff;
        padding: 8px 20px 10px;
        margin-right: 10px;
        position: relative;

        &:last-child {
          margin-right: 0;
        }

        &:hover,
        &:focus,
        &:active {
          background: #fff;
        }
      }
    }

    h2 {
      text-align: center;
      color: #fff;
      margin-bottom: 30px;
    }

    &.box-company {
      background: #566270;

      a:hover,
      a:focus,
      a:active {
        color: #566270;
      }
    }

    &.box-movies {
      background: #548687;

      a:hover,
      a:focus,
      a:active {
        color: #548687;
      }
    }

    &.box-beer {
      background: #f6b352;

      a:hover,
      a:focus,
      a:active {
        color: #f6b352;
      }
    }

    &.box-code {
      background: #0d2636;

      a:hover,
      a:focus,
      a:active {
        color: #0d2636;
      }
    }
  }
}

#timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 2em;

  @media only screen and (min-width: 1170px) {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 30%;
  }

  &::before {
    // This is the vertical line
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: rgba(#454a4f, .3);

    @media only screen and (min-width: 1170px) {
      left: 50%;
      margin-left: -2px;
    }
  }
}

.timeline-block {
  position: relative;
  margin: 2em 0;

  @media only screen and (min-width: 1170px) {
    margin: 4em 0;
  }

  h3 {
    margin-top: 0;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.timeline-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #454a4f;

  h2 {
    display: block;
    position: relative;
    text-align: center;
    top: 10px;
    font-size: 15px;
    color: #fff;

    @media (max-width: 1170px) {
      top: 4px;
      font-size: 12px;
    }
  }
}

@media only screen and (min-width: 1170px) {
  .timeline-icon {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;

    // Force Hardware Acceleration in WebKit
    transform: translateZ(0);
    backface-visibility: hidden;

    &.future {
      background: #548687;
    }
  }

  .cssanimations .timeline-icon.is-hidden {
    visibility: hidden;
  }

  .cssanimations .timeline-icon.bounce-in {
    visibility: visible;
    animation: bounce-1 .6s;
  }
}

@keyframes bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -ms-transform: scale(.5);
    -o-transform: scale(.5);
    transform: scale(.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

.timeline-content {
  position: relative;
  margin-left: 60px;
  background: #fff;
  border-radius: .25em;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0;

  .instagram-media {
    margin-bottom: 1.6em !important;
    overflow: hidden !important;
  }

  img {
    width: 100%;
    height: auto;
    margin-bottom: 1.6em;
    border-radius: 4px;
  }

  .np {
    overflow: hidden;
    margin-bottom: 1.6em;

    .item {
      @include background-cover();
      width: 80px;
      height: 80px;
      border-radius: 50%;
      float: left;
      margin-right: 1.6em;
    }

    p {
      font-size: 80%;
      position: relative;
      top: 10px;

      .timeago {
        opacity: .6;
      }
    }
  }

  .lastfm {
    color: #d51007;

    span {
      color: #d51007;
    }

    &:hover {
      opacity: .8;

      span {
        opacity: .8;
      }
    }
  }

  .facebook {
    color: #3b5998;

    span {
      color: #3b5998;
    }

    &:hover {
      opacity: .8;

      span {
        opacity: .8;
      }
    }
  }

  .twitter {
    color: #55acee;

    span {
      color: #55acee;
    }

    &:hover {
      opacity: .8;

      span {
        opacity: .8;
      }
    }
  }

  .tweet_list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      font-size: 80%;

      img {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        float: left;
        margin-right: 15px;
        top: -5px;
        position: relative;
        margin-left: 0;
      }
    }
  }

  h2 {
    color: #303e49;
  }

  p {
    line-height: 1.6;
    padding-bottom: 1em;
    margin: 0;

    img {
      max-width: 150px;
      height: auto;
      float: right;
      margin-left: 20px;
      border-radius: 4px;
      margin-bottom: 1.6em;

      @media (max-width: $container-mobile) {
        width: 100%;
        max-width: 100%;
        height: auto;
        float: none;
        margin-left: 0;
        margin-bottom: 20px;
      }
    }
  }

  .info {
    float: left;
    padding: .5em 0;
    opacity: .7;
  }

  &::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #fff;
  }
}

.timeline-content:after {
  content: '';
  display: table;
  clear: both;
}

.timeline-content .read-more,
.timeline-content .info {
  display: inline-block;
}

.no-touch .timeline-content .read-more:hover {
  background-color: #bac4cb;
}

@media only screen and (min-width: 768px) {
  .timeline-content h2 {
    font-size: 1.25rem;
  }

  .timeline-content p {
    font-size: 1rem;
  }

  .timeline-content .read-more,
  .timeline-content .info {
    font-size: .875rem;
  }
}

.note-footer {
  width: 45%;
  position: absolute;
  bottom: 300px;
  right: 0;

  @media (max-width: 1170px) {
    position: static;
    width: 100%;
    padding-left: 60px;
    margin-bottom: 2.6em;
  }

  p {
    color: darken(#bdbfc0, 25%);
    line-height: 1.5;
    font-size: 15px;
  }

  .todoist {
    color: #dd4b39;

    img {
      height: 19px;
      margin-top: 3px;
      top: 3px;
      position: relative;
      fill: #dd4b39;
      margin-right: 4px;
    }

    &:hover {
      opacity: .8;
    }
  }
}

.footer {
  width: 45%;
  position: absolute;
  bottom: 50px;
  right: 0;

  @media (max-width: 1170px) {
    position: static;
    width: 100%;
    padding-left: 60px;
  }

  p {
    font-size: 15px;
    line-height: 1.5;
    color: darken(#bdbfc0, 25%);

    a {
      color: #3c3530;
      margin-left: 2px;
    }
  }
}

@media only screen and (min-width: 1170px) {
  .timeline-content {
    margin-left: 0;
    padding-top: 1.6em;
    padding-left: 1.6em;
    padding-right: 1.6em;
    padding-bottom: 0;
    width: 45%;

    p {
      padding-bottom: 1.6em;
      margin: 0;
    }
  }

  .timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #fff;
  }

  .timeline-content .read-more {
    float: left;
  }

  .timeline-content .info {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 1rem;
  }

  .timeline-block:nth-child(even) .timeline-content {
    float: right;
  }

  .timeline-block:nth-child(even) .timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #fff;
  }

  .timeline-block:nth-child(even) .timeline-content .read-more {
    float: right;
  }

  .timeline-block:nth-child(even) .timeline-content .info {
    left: auto;
    right: 122%;
    text-align: right;
  }

  .cssanimations .timeline-content.is-hidden {
    visibility: hidden;
  }

  .cssanimations .timeline-content.bounce-in {
    visibility: visible;
    animation: bounce-2 .6s;
  }
}

@media only screen and (min-width: 1170px) {
  // Inverse bounce effect on even content blocks
  .cssanimations .timeline-block:nth-child(even) .timeline-content.bounce-in {
    animation: bounce-2-inverse .6s;
  }
}

@keyframes bounce-2 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes bounce-2-inverse {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes mousePointer {
  0% {
    opacity: 0;
    top: 20%;
  }

  20% {
    opacity: 1;
    top: 20%;
  }

  40% {
    opacity: 1;
    top: 20%;
  }

  60% {
    opacity: 1;
    top: 70%;
  }

  61% {
    opacity: 1;
    top: 70%;
  }

  67% {
    opacity: 0;
    top: 70%;
  }

  100% {
    opacity: 0;
    top: 70%;
  }
}

// Responsive youtube-embed
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; // 16:9
	padding-top: 25px;
	height: 0;
  margin-bottom: 25px;

  iframe {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }
}
